body
{
font-family:sans-serif;
}

table
{
background-color:#E8DCFF;
border-collapse:collapse;
}
#num1,#num2,#science,#english,#sanskrit,#social
{
background-color:#FEFFB0;
font-weight:bold;
text-align:right;
}
#sum,#value
{
color:#174C68;
font-weight:bold;
border:none;
background-color:#E8DCFF;
}
#sum
{
text-align:right;
}
#value
{
text-align:center;
}